body {
  font-family: "Fira Sans Extra Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.features h2,
.departments h2 {
   text-transform: uppercase;
 }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.visually-hidden-input {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
}

.header-contacts-wrap {
  background-color: #d5e3f6;
}

.main-page-nav ul {
  list-style: none;
}

.main-page-nav ul {
  margin: 0;
  padding: 0;
}

.navbar-light .nav-item .nav-link {
  color: #000;
}

.nav-link-active {
  position: relative;
}

.nav-link-active::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: .35rem;
  right: .35rem;
  height: 3px;
  background-color: #105599;
}

.navbar-light .nav-item .nav-link:hover,
.navbar-light .nav-item .nav-link:focus {
  background-color: #d5e3f6;
  border-radius: 3px;
}

.navbar-light .nav-item .nav-link:active {
  color: #105599;
}

.navbar-expand-lg {
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

@media (max-width: 991px) and (min-width: 0px) {
  .navbar-light .navbar-nav .nav-link {
    padding-left: 0;
    transition: padding-left .5s ease;
  }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    padding-left: 10px;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .35rem;
    padding-left: .35rem;
}

.dropdown-menu {
  padding: 0;

  border: 1px solid #747474;
  border-radius: .4rem;

  overflow: hidden;
}

.dropdown-menu a {
  font-size: 18px;
  color: #000;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  /* color: #fff; */

  background-color: #d5e3f6;
}

.dropdown-menu a:active {
  background-color: #105599;
}

.dropdown-toggle::after {
  margin-left: .1em;

  vertical-align: .2em;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 1);

  border: 1px solid #747474;
  background-color: transparent;
  transition: .2s background-color ease;
}

.navbar-light .navbar-toggler:hover {
  background-color: #d5e3f6;
}

.navbar-toggler span {
  width: 3em;
  height: 3em;
}

.navbar-nav > .nav-item:not(:last-child) {
  margin-right: .3em;
}

.header-contacts {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 24px;
}

.clinic-contacts-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.clinic-contacts-wrap.row {
  margin-left: 25px;
  margin-right: 0;
}

.clinic-contacts-wrap span,
.clinic-contacts-wrap a {
  position: relative;

  font-weight: 300;
}

.clinic-contacts-wrap span::before,
.clinic-contacts-wrap a::before {
  position: absolute;

  content: "";
  width: 20px;
  height: 20px;
}

.clinic-contacts-wrap span::before {
  left: -25px;
  top: 3px;

  background-image: url("../img/location.svg");
}

.clinic-contacts-wrap a::before {
  left: -25px;
  top: 3px;

  background-image: url("../img/phone.svg");
}

.header-address {
  margin-right: 50px;
}

.header-phone {
  color: #105599;
}

.header-phone:hover {
  text-decoration: none;

  color: #747474;
}

.appointment {
  text-transform: uppercase;
}

.header-contacts a.btn-success {
  color: #fff;

  background-color: #338235;
}

.header-contacts a.btn-success:hover,
.header-contacts a.btn-success:focus {
  color: #fff;

  background-color: #2e7530;
  border-color: #87b288;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  background-color: #28662a;
  border-color: rgba(0, 0, 0, .4);
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus,
.btn-success.focus, .btn-success:focus {
  box-shadow: 0 0 4px .2rem rgba(72, 180, 97, .4);
}

.header-contacts .container {
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .header-contacts .container,
  .clinic-contacts-wrap {
    justify-content: center;
  }
  .appointment {
    margin-top: 10px;
  }
}

@media (max-width: 557.98px) {
  .header-address {
    margin-right: 0;
  }
  .clinic-contacts-wrap {
    flex-direction: column;
    align-items: center;

    /* text-align: center; */
  }
  .header-contacts .container {
    flex-direction: column;
    align-items: center;
  }
  .features h2,
  .departments h2 {
    font-size: 32px;
  }
}

.main-heading {
  font-size: 2em;
  line-height: 1.2em;
}

.main-heading span {
  font-size: .3em;
}

.features {
  position: relative;

  padding-top: 5%;
  padding-bottom: 5%;

  color: #fff;

  background-color: #105599;
    background-image: linear-gradient(-10deg, #105599 20%, #1262b3 50%, #105599 80%);
  /* background-image: url("../img/bg-wave-top.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto; */
}

.features-bg-top {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  width: 100%;
  transform: scaleX(1.05);
}

.features-bg-bottom {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  transform: scaleX(1.05);
}

.features .container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.features h2 {
  margin: 0;
  margin-bottom: 2.2rem;
  padding: 0;

  font-size: 38px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.feature-item {
  margin-bottom: 50px;
}

.feature-image-rotate {
  transform: scaleX(-1);
}

.feature-item p {
  margin-bottom: 0;

  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .feature-item:nth-of-type(even) .feature-text {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .feature-item .feature-text {
    text-align: center;
  }
  .feature-text h3 {
    margin-top: 20px;
  }
}

.departments {
  margin-bottom: 20px;
}

.departments h2 {
  margin: 0;
  margin-bottom: 2.2rem;
  padding: 0;

  font-size: 38px;
  line-height: 50px;
  text-align: center;
}

.departments-link {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  /* width: 300px; */
  min-height: 300px;
  max-width: 300px;
  display: block;

  /* border: 1px solid #747474; */
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .6);
  transition: .5s ease all;
  overflow: hidden;
}

.departments-link img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.departments-link:hover,
.departments-link:focus {
  text-decoration: none;

  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  transform: translateY(-15px);
}

.departments-link-heading {
  position: relative;

  height: 70px;

  text-align: center;

  /* border-left: 1px solid #747474;
  border-right: 1px solid #747474;
  border-bottom: 1px solid #747474;

  overflow: hidden; */
}

.departments-link-heading::before {
  position: absolute;
  content: "";
  top: -29px;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.departments-link-heading h3 {
  font-size: 24px;
  line-height: 30px;
  color: #105599;
}

.departments-link:hover h3 {
  color: #747474;
}

.location {
  margin-bottom: 50px;
}

.location-description {
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.footer-navigation {
  background-color: #d5e3f6;
}

.footer-navigation h3 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.footer-navigation-contacts {
  margin-top: 30px;
}

.footer-contacts-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;

  font-size: 18px;
  line-height: 24px;

  list-style: none;
}

.footer-contacts-list a {
  position: relative;

  color: #105599;
  text-decoration: none;
}

.footer-contacts-list a::before {
  position: absolute;

  content: "";
  top: 3px;
  left: -30px;
}

.footer-phone::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/phone.svg");
}

.footer-mail::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/letter.svg");
}

.footer-vk::before {
  width: 15px;
  height: 15px;

  background-image: url("../img/vk.svg");
}

.footer-contacts-list a:hover,
.footer-contacts-list a:focus {
  color: #747474;
}

.footer-navigation-menu {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-navigation-menu ul {
  list-style: none;
}

.footer-navigation-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #105599;
  text-decoration: none;
}

.footer-navigation-menu a:hover,
.footer-navigation-menu a:focus {
  color: #747474;
}

.footer-copyrights {
  background-color: #105599;
}

.footer-copyrights-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
}

.footer-copyrights-link {
  color: #f0dc5f;;
}

.footer-copyrights-link svg {
  padding-right: 5px;
}

.footer-copyrights-link:hover,
.footer-copyrights-link:focus {
  color: #fff;
  text-decoration: none;
}

.footer-copyrights-link path,
.footer-copyrights-link path {
  fill: #f0dc52;
}

.footer-copyrights-link:hover path,
.footer-copyrights-link:focus path {
  fill: #fff;
}

.footer-copyrights-link:hover a::before {
  background-position: 23px 24px;
}

.popup {
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.popup-appointment {
  margin: 0 auto;
  width: 600px;

  border: 2px solid #747474;
  border-radius: 8px;
}

.popup .form-control {
  padding: 5px 0 5px 5px;

  color: #000;

  border-radius: .2rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.form-control:focus {
  box-shadow: 0 0 5px .2rem #d5e3f6;
}

.modal-header {
  position: relative;
  justify-content: center;

  border-bottom: none;
}

.modal-header .close {
  position: absolute;
  right: 20px;
  top: 20px;

  padding: 0;

  font-size: 2.5rem;
  color: #ce2020;

  transform: scaleY(0.9);
  opacity: 1;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: .75;
}

.appointment-form label {
  margin-top: .5rem;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
  margin-top: .3rem;
}

.appointment-form input:focus,
.appointment-form select:focus,
.appointment-form textarea:focus {
  background-color: rgba(213, 227, 246, .2);
}

.popup option {
  border-radius: .2rem;
}

.popup textarea {
  height: 150px;

  resize: none;
}

.popup input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.popup label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.popup-appointment .btn {
  margin-top: 25px;

  color: #fff;
  text-transform: uppercase;

  background-color: #338235;
}

.popup-appointment .btn:hover,
.popup-appointment .btn:focus {
  color: #fff;

  background-color: #2e7530;
  border-color: #87b288;
}

.popup-appointment .btn:not(:disabled):not(.disabled).active,
.popup-appointment .btn:not(:disabled):not(.disabled):active {
  background-color: #28662a;
  border-color: rgba(0, 0, 0, .4);
}

.modal {
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 100px;
}

@media (max-width: 931px) and (min-width: 0px) {
  .modal-content {
    width: 100%;
    margin: 0;
    margin-top: 100px;
  }
}

@media (max-width: 390px) and (min-width: 0px) {
  .appointment-form fieldset {
    justify-content: center;
  }
}

.header-inner {
  margin-bottom: 50px;
}

.inner-heading {
  margin-bottom: 25px;

  text-align: center;
}

.offers .card-container {
  display: flex;
  align-items: stretch;
  padding-left: 15px;
  padding-right: 15px;
}

.offers .card {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
  margin-bottom: 30px;

  border: 1px solid #747474;

  overflow: hidden;
}

.offers .card-image-wrap {
  position: relative;
  flex-shrink: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* height: 100%; */
  /* height: auto; */

  border: none;
  border-radius: 0;
}

.offers .card-img {
  height: auto;
  /* flex-shrink: 0;
  flex-grow: 0; */
}

.offers .card-overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offers .card-overlay h3 {
  margin-bottom: 0;

  color: #fff;
  font-size: 38px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;

  text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.offers .card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;

  text-align: center;
}

.offers .card-block-filler {
  flex-grow: 1;
}

.offers .card-block h4 {
  margin-top: 15px;
  margin-bottom: 0;

  font-size: 26px;
  line-height: 32px;
}

.offers .card-subtitle {
  margin-bottom: .5rem;

  font-size: .8rem;
  color: #747474;
  text-transform: uppercase;
}

.offers .card-text {
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.card-block .btn {
  text-transform: uppercase;

  background-color: #338235;
}

.card-block .btn-success:hover,
.card-block .btn-success:focus {
  color: #fff;

  background-color: #2e7530;
  border-color: #87b288;
}

.offers {
  margin-bottom: 20px;
}

.price-description {
  margin-bottom: 30px;

  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.price-accordion {
  margin-bottom: 50px;
}

.price-accordion .card {
  border: 1px solid #747474;
}
.price-accordion .card-header {
  /* padding: .75rem 1.25rem; */
  padding: 0;

  background-color: #d5e3f6;
  border-bottom: 1px solid #747474;
}

.price-accordion h3 {
  display: block;

  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  text-align: left;
}

.price-accordion h3:hover,
.price-accordion h3:focus {
  color: #105599;
  text-decoration: none;
}

/* .collapse.show + .card-header {
  background-color: #105599;
} */

.price-accordion .card-body {
  padding: 0;

  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.price-table {
  margin: 0;
}

.price-table td {
  display: flex;
  padding: 15px;

  vertical-align: middle;

  border: none;
}

.service-name {
  align-items: center;
}

.price-table td:first-child {
  border-right: 1px solid #747474;;
}

.price-table tr {
  display: flex;
  justify-content: space-between;
}

.price-table tr:not(:last-child) {
  border-bottom: 1px solid #747474;
}

.price-data {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.price-table span {
  display: inline-block;
}

.old-price {
  font-size: 1rem;
  color: #bbb;
  text-decoration: line-through;
}

.new-price {
  /* margin-left: 1rem; */
  color: #ce2020;
}
